*{
    font-family: sans-serif;
    background: #230142;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.heading{
    position:absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.play-section h3{
    font-size: 1.5rem;
    color: #dedede;
}
.play-section img{
    width: 70%;
    margin-bottom: 2rem;

}

.play-section .player-1{
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-section .player-2{
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn a{
    color: white;
    background-color: transparent;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #740101;
    color: #ffffff;
    background-color: #740101;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #b20202;
    border-color: #ff8585;
}

.btn:active {
    background-color:#b20202 ;
    border-color: #ff8585;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
 }


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}